@typeparam T
@using scrum_board_tool.Client.Data
@inject DragAndDropService DragAndDropService

<div ondragover="event.preventDefault()" @ondrop="@OnDrop" class="@Class">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Zone { get; set; }

    [Parameter]
    public Action<T, string> Drop { get; set; }

    [Parameter]
    public string Class { get; set; }

    void OnDrop()
    {
        if (Drop != null)
        {
            Drop((T)DragAndDropService.Data, Zone);
        }
    }
}